@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';



.datadiv{
    display: flex;  
}

.starttime{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    padding: 10px;
}

.btn-sm-div{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

